.addonList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .addonCard {
    display: flex;
    align-items: center;
    padding: .8rem 1.25rem;
    border: 1px solid #d6d9e6;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    /* width: 105%; */
  }
  
  .addonCard:hover {
    border-color: #483eff;
  }
  
  .addonCard.selected {
    border-color: #483eff;
    background-color: #f8f9ff;
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #d6d9e6;
    border-radius: 4px;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  
  .checkbox.checked {
    background-color: #483eff;
    border-color: #483eff;
  }
  
  .addonInfo {
    flex: 1;
  }
  
  .addonName {
    color: #022959;
    margin-bottom: 0.15rem;
    font-family: 'Ubuntu Medium';
  }
  
  .addonDescription {
    color: #9699aa;
    font-size: 0.875rem;
    font-family: 'Ubuntu';
  }
  
  .addonPrice {
    color: #483eff;
    font-size: 0.875rem;
    font-family: 'Ubuntu Medium';
  }


  @media (max-width: 700px) {
    .addonCard {
      padding: 1rem;
    }
  
    .checkbox {
      margin-right: 1rem;
    }
  
    .addonName {
      font-size: 0.875rem;
    }
  
    .addonDescription {
      font-size: 0.75rem;
    }
  }
  
  