.summaryCard {
  background-color: #f8f9ff;
  border-radius: 8px;
  padding: 0.7rem 1.2rem 0.2rem;
}

.planRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e8fb;
  margin-bottom: 1rem;
}

.planInfo {
  display: flex;
  flex-direction: column;
}

.planName {
  color: #022959;
  font-weight: 500;
  margin-bottom: 0.25rem;
  font-family: 'Ubuntu Medium';
}

.changeLink {
  color: #9699aa;
  text-decoration: underline;
  font-size: 0.875rem;
  cursor: pointer;
  font-family: 'Ubuntu';
}

.changeLink:hover {
  color: #483eff;
}

.planPrice {
  color: #022959;
  font-weight: 500;
  font-family: 'Ubuntu Bold';
}

.addonRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: #9699aa;
  font-family: 'Ubuntu';
}

.addonName {
  font-size: 0.875rem;
}

.addonPrice {
  color: #022959;
  font-size: 0.875rem;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.totalLabel {
  color: #9699aa;
  font-size: 0.875rem;
  font-family: 'Ubuntu Medium';
}

.totalPrice {
  color: #483eff;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: 'Ubuntu Bold';
}

@media (max-width: 768px) {
  .summaryCard {
    padding: 1rem;
  }

  .planRow {
    padding-bottom: 1rem;
  }

  .planName {
    font-size: 0.875rem;
  }

  .addonRow {
    margin-bottom: 0.75rem;
  }

  .totalRow {
    padding: 1rem;
  }
}

